#chess-board {
  padding-top: 3%;
  padding-right: 3%;
  margin: auto;
  --square-side: min(85vh, 60vw);
  width: var(--square-side);
  height: var(--square-side);
  display: grid;
  grid-template-rows: 96% 4%;
  grid-template-columns: 4% 96%;
  grid-template-areas:
    'vertical board artificial-padding'
    'corner horizontal artificial-padding';
  background-color: #d9b08c;
  color: #116466;
  font-weight: bold;
  border-radius: 6px;
}
#board {
  display: grid;
  grid-area: board;
  background-image: url('../../../public/chessboard.png');
  background-repeat: no-repeat;
  background-size: contain;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}

/* CHESS LAYOUT CLASSES */

.white #board {
  grid-template-areas:
    'a_h b_h c_h d_h e_h f_h g_h h_h'
    'a_g b_g c_g d_g e_g f_g g_g h_g'
    'a_f b_f c_f d_f e_f f_f g_f h_f'
    'a_e b_e c_e d_e e_e f_e g_e h_e'
    'a_d b_d c_d d_d e_d f_d g_d h_d'
    'a_c b_c c_c d_c e_c f_c g_c h_c'
    'a_b b_b c_b d_b e_b f_b g_b h_b'
    'a_a b_a c_a d_a e_a f_a g_a h_a';
}
.black #board {
  grid-template-areas:
    'h_a g_a f_a e_a d_a c_a b_a a_a'
    'h_b g_b f_b e_b d_b c_b b_b a_b'
    'h_c g_c f_c e_c d_c c_c b_c a_c'
    'h_d g_d f_d e_d d_d c_d b_d a_d'
    'h_e g_e f_e e_e d_e c_e b_e a_e'
    'h_f g_f f_f e_f d_f c_f b_f a_f'
    'h_g g_g f_g e_g d_g c_g bgh_g a_g'
    'h_h g_h f_h e_h d_h c_h b_h a_h';
}

.A1 {
  grid-area: a_a;
}
.A2 {
  grid-area: a_b;
}
.A3 {
  grid-area: a_c;
}
.A4 {
  grid-area: a_d;
}
.A5 {
  grid-area: a_e;
}
.A6 {
  grid-area: a_f;
}
.A7 {
  grid-area: ag;
}
.A8 {
  grid-area: ah;
}
/* ------B-------- */
.B1 {
  grid-area: b_a;
}
.B2 {
  grid-area: b_b;
}
.B3 {
  grid-area: b_c;
}
.B4 {
  grid-area: b_d;
}
.B5 {
  grid-area: b_e;
}
.B6 {
  grid-area: b_f;
}
.B7 {
  grid-area: b_g;
}
.B8 {
  grid-area: b_h;
}
/* --------C------- */
.C1 {
  grid-area: c_a;
}
.C2 {
  grid-area: c_b;
}
.C3 {
  grid-area: c_c;
}
.C4 {
  grid-area: c_d;
}
.C5 {
  grid-area: c_e;
}
.C6 {
  grid-area: c_f;
}
.C7 {
  grid-area: c_g;
}
.C8 {
  grid-area: c_h;
}
/* ------D------ */
.D1 {
  grid-area: d_a;
}
.D2 {
  grid-area: d_b;
}
.D3 {
  grid-area: d_c;
}
.D4 {
  grid-area: d_d;
}
.D5 {
  grid-area: d_e;
}
.D6 {
  grid-area: d_f;
}
.D7 {
  grid-area: d_g;
}
.D8 {
  grid-area: d_h;
}
/* ------E------ */
.E1 {
  grid-area: e_a;
}
.E2 {
  grid-area: e_b;
}
.E3 {
  grid-area: e_c;
}
.E4 {
  grid-area: e_d;
}
.E5 {
  grid-area: e_e;
}
.E6 {
  grid-area: e_f;
}
.E7 {
  grid-area: e_g;
}
.E8 {
  grid-area: e_h;
}
/* ------F------ */
.F1 {
  grid-area: f_a;
}
.F2 {
  grid-area: f_b;
}
.F3 {
  grid-area: f_c;
}
.F4 {
  grid-area: f_d;
}
.F5 {
  grid-area: f_e;
}
.F6 {
  grid-area: f_f;
}
.F7 {
  grid-area: f_g;
}
.F8 {
  grid-area: f_h;
}
/* ------G------ */
.G1 {
  grid-area: g_a;
}
.G2 {
  grid-area: g_b;
}
.G3 {
  grid-area: g_c;
}
.G4 {
  grid-area: g_d;
}
.G5 {
  grid-area: g_e;
}
.G6 {
  grid-area: g_f;
}
.G7 {
  grid-area: g_g;
}
.G8 {
  grid-area: g_h;
}
/* ------H------ */
.H1 {
  grid-area: h_a;
}
.H2 {
  grid-area: h_b;
}
.H3 {
  grid-area: h_c;
}
.H4 {
  grid-area: h_d;
}
.H5 {
  grid-area: h_e;
}
.H6 {
  grid-area: h_f;
}
.H7 {
  grid-area: h_g;
}
.H8 {
  grid-area: h_h;
}

#vertical-coordinate {
  grid-area: vertical;
  display: flex;
  flex-direction: column-reverse;
}

.black #vertical-coordinate {
  flex-direction: column;
}

#horizontal-coordinate {
  grid-area: horizontal;
  display: flex;
  flex-direction: row;
}

.black #horizontal-coordinate {
  flex-direction: row-reverse;
}

#vertical-coordinate .index {
  display: flex;
  flex-direction: column;
  height: 12.5%;
  font-size: 80%;
  justify-content: center;
  margin: auto;
}
#horizontal-coordinate .index {
  font-size: 80%;
  line-height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 12.5%;
  margin: auto;
}

#corner {
  grid-area: corner;
}

.piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.own-piece {
  cursor: grab;
}

.own-piece:active {
  cursor: grabbing;
  z-index: 11;
}

.piece svg {
  overflow: hidden;
  margin: 5% 0;
}

.move-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.move-hint .move-mark {
  height: 40%;
  width: 40%;
  opacity: 30%;
  background-color: black;
  border-radius: 50%;
}
.move-hint .capture-mark {
  height: 100%;
  width: 100%;
  opacity: 30%;
  border: 0.5rem solid black;
  border-radius: 50%;
  box-sizing: border-box;
}
